body {
    background-image: url("../img/background.png");
}

.logo {
    position: absolute;
    margin-left: 7em;
    margin-top: -4.5em;
    font-size: 100px;
    font-family: 'Oswald', sans-serif;
    color: rgb(0, 183, 255);
}

#pocet {
    font-family: 'Oswald', sans-serif;
    text-align: left;
    padding-left: 20px;
    font-size: 25px;
    background-color: rgb(0, 183, 255);
    color: black;
    width: 300px;
    margin: -20em auto;
    border: 2px solid black;
    border-radius: 50px;
    margin-left: 31em;
    margin-top: -17em;
}

#dia {
    display: block;
    margin-left: 47em;
    margin-top: 27em;
    max-width: 350px;
    width: 100%;
    transition-duration: 0.2s;
    user-select: none;
}

#dia:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
    transition-duration: 0.2s;
}

#dia:active {
    transform: scale(0.9, 0.9);
}

.poz {
    width: 83%;
    margin-left: -10px;
}

#costautoclick, #costautoclick2, #costautoclick3, #costautoclick4, #costautoclick6, #costautoclick7 {
    margin-top: 1px;
    padding-right: 5px;
    color: black;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

button:hover {
    cursor: pointer;
    transform: scale(0.98, 0.98);
    transition-duration: 0.2s;
}

#button:active {
    transform: scale(0.5, 0.5);
}

.naps {
    top: 3px;
    width: 300px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 45px;
    height: 60px;
    font-family: 'Oswald', sans-serif;
    background-color: black;
    color: white;
}

#poc, #poc2, #poc3, #poc4, #poc5, #poc6 {
    float: right;
    margin-right: 8px;
    margin-top: -2em;
    margin-bottom: 0.5em;
    padding-left: 15px;
    border-left: 3px solid black;
}

#autoclicker {
    display: block;
    float: right;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    width: 17%;
    font-size: 22px;
    color: black;
    border: 1px solid black;
 
    margin-top: -18em;
    margin-left: 72em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-color: rgb(0, 183, 255);

}

#pickaxe {
    background-color: white;
    display: block;
    float: right;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    width: 17%;
    font-size: 22px;
    color: black;
    border: 1px solid black;
    
    margin-top: -15em;
    margin-left: 71.8em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    position: absolute;
}

#steve {
    background-color: lightslategray;
    display: block;
    float: right;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    width: 17%;
    font-size: 22px;
    color: black;
    border: 1px solid black;

    margin-top: -12em;
    margin-left: 72em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#minecart {
    background-color: white;
    display: block;
    float: right;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    width: 17%;
    font-size: 22px;
    color: black;
    border: 1px solid black;
 
    margin-top: -9em;
    margin-left: 72em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}


#pickaxe1 {
    margin-top: -50px;
    display: block;
    width: 16%;
}

#steve1, #minecart1{
    margin-top: -35px;
    display: block;
    width: 15%;
}

#cursor {
    margin-top: -20px;
    display: block;
    width: 15%;
}

#cursor1 {
    margin-top: -20px;
    display: block;
    width: 17%;
}

#doubleclick {
    display: block;
    float: right;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    width: 17%;
    font-size: 22px;
    color: black;
    border: 1px solid black;
    margin-top: -118px;
    margin-left: 1581px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    position: absolute;
    background-color: white;
}

#fiftyclick {
    display: block;
    float: right;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    width: 17%;
    font-size: 22px;
    color: black;
    border: 1px solid black;
    margin-top: -15px;
    margin-left: 1581px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    position: absolute;
    background-color: white;
}

.checkbtn {
    font-size: 30px;
    color: gold;
    float: right;
    line-height: 80px;
    padding: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    #autoclicker {
        display: block;
        margin-top: -40px;
        margin-left: 40px;
        line-height: 30px;
        width: 100%;
    }

    #pickaxe {
        display: block;
        margin-top: 610px;
        margin-left: 287px;
        line-height: 32px;
        width: 40%;
    }

    #steve {
        display: block;
        margin-top: 648px;
        margin-left: 50px;
        line-height: 30px;
        width: 40%;
    }

    #minecart {
        display: block;
        margin-top: -100px;
        margin-left: 100px;
        line-height: 30px;
        width: 40%;
    }

   
    #doubleclick {
        display: block;
        margin-left: 1px;
        margin-top: 860px;
        line-height: 20px;
        width: 45%;
    }

    #fiftyclick {
        display: block;
        margin-left: 260px;
        margin-top: 860px;
        line-height: 20px;
        width: 45%;
    }

    #dia {
        display: block;
        margin-left: 150px;
        margin-top: 150px;
        max-width: 200px;
        width: 60%;
        transition-duration: 0.2s;
        user-select: none;
    }

    #pocet {
        font-family: 'Oswald', sans-serif;
        text-align: left;
        padding-left: 20px;
        font-size: 50px;
        background-color: gold;
        color: black;
        width: 200px;
        border: 2px solid black;

        margin-left: 40px;
        margin-top: 450px;
        line-height: 70px;
    }

    .logo {
        position: absolute;
        margin-left: 180px;
        margin-top: 450px;
        font-size: 50px;
        font-family: 'Oswald', sans-serif;
        color: gold;
    }

    #check:checked ~ ul {
        left: 0;
    }

}
